  <div>
    <a href="/new_tile">Add new tile</a>
  </div> 

  <% @tiles_to_display.each_with_index do |tile, index| %>
    <%= tile.display %>
  <a href="/remove_tile?index=<%=index%>">Remove tile</a><br>
  <% end %>