<h3>Edit pivotal tile</h3>
<form method="post">
  Data url: <input type="text" name="pivotal_url" value="<%= @tile.url %>"><br>
  Token Name: <input type="text" name="pivotal_token_name"><br>
  Token : <input type="text" name="pivotal_token"><br>

  <input type="submit" value="Submit">
</form>