<!doctype html>
<html lang="en">
<head>
  <title>Dashboard By Sinatra</title>
  <meta charset="utf-8">
  <!-- <meta http-equiv="refresh" content="1" /> -->
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/javascript/select_tag.js"></script>
</head>

<body>

<div class="nav_bar">
  
</div>

<div class="control_panel">
  <h3 class="title"><%= "Control Panel:" %></h3>
    <div class="channel_switcher">
      <p>Video channel: 
        <select id="selector" onchange="pass_video_src()">
          <option value="0">Velocity Light</option>
          <option value="1">Spider Monkey</option>  
          <option value="2">Penguin</option>
        </select>
      </p>
    </div>
</div>

<div class="time">
  <%= Time.now %> 
</div>



<section>
  <%= yield %>
</section>

</body>