<!doctype html>
<html lang="en">
<head>
  <title>Dashboard By Sinatra</title>
  <meta charset="utf-8">
  <!-- <meta http-equiv="refresh" content="1" /> -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="nav_bar">
  
</div>

<div class="test">
  <h1>Here is the layout</h1>
  <%= Time.now %>
</div>

<section>
  <%= yield %>
</section>

</body>