<h3>New pivotal tile</h3>
<form method="post">
  Data url: <input type="text" name="pivotal_url"><br>
  Token: <input type="text" name="pivotal_token"><br>
  Type: <input type="radio" name="pivotal_type" value="members_stories">Members stories
      <input type="radio" name="pivotal_type" value="stories_by_state">Stories by status
      <input type="radio" name="pivotal_type" value="json_format">JSON format<br>
  <input type="submit" value="Submit">
</form>