<form method="post">
  Embed url: <input type="text" name="embed_url"><br>
  Frame width:  <input type="text" name="embed_width"><br>
  Frame height: <input type="text" name="embed_height"><br>
  <input type="submit" value="Submit">
</form>