<!doctype html>
<html lang="en">
<head>
  <title>Dashboard By Sinatra</title>
  <meta charset="utf-8">
  <!-- <meta http-equiv="refresh" content="1" /> -->
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/javascript/select_tag.js"></script>
</head>


<body>
  <section>
    <% if @errors.any? %>
      <ul>
      <% @errors.each do |e| %>
        <li><%= e %></li>
      <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </section>
</body>
