<link rel="stylesheet" href="/css/dashboard.css">
<script type="text/javascript" src="/javascript/d3.js"></script>


<% title = "Dashboard" %>

<h1><%= title %></h1>

<div class="tiles">
  <div class="tiles_text">
    <p><%= @number %></p>
  </div>


  <script>
    alert("Ready to fetch data");
  </script>
</div>

<div class="json_tile">
  <h3>Fetching JSON</h3>
  <% @objects.each do |object| %>
  <li>
    <p>Name: <%= object["name"] %> Gender: <%= object["gender"] %></p>
  </li>
  <% end %>
</div>





<script>



var width = 250,
    height = 250,
    radius = Math.min(width, height) / 2;


var color = d3.scale.category20();

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(radius - 70);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.population; });

var svg = d3.select("section").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");




  d3.selectAll("#data_selector")
      .on("change", change);

  function change(){
      var option = this.value;
      console.log("value is " + option);

      var g = d3.selectAll(".arc").remove();
      


      if (option == 0) {
        d3.csv("gender.csv", function(error, data) {

          data.forEach(function(d) {
            d.population = +d.population;
          });

          var g = svg.selectAll(".arc")
              .data(pie(data))
            .enter().append("g")
              .attr("class", "arc");

          g.append("path")
              .attr("d", arc)
              .style("fill", function(d) { return color(d.data.gender); });

          g.append("text")
              .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
              .attr("dy", ".35em")
              .style("text-anchor", "middle")
              .text(function(d) { return d.data.gender; });


        });
      }

      if (option == 1) {
          d3.csv("age.csv", function(error, data) {

          data.forEach(function(d) {
            d.population = +d.population;
          });

          var g = svg.selectAll(".arc")
              .data(pie(data))
            .enter().append("g")
              .attr("class", "arc");

          g.append("path")
              .attr("d", arc)
              .style("fill", function(d) { return color(d.data.age); });

          g.append("text")
              .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
              .attr("dy", ".35em")
              .style("text-anchor", "middle")
              .text(function(d) { return d.data.age; });

        });
      }


      if (option == 2) {
        d3.csv("occupation.csv", function(error, data) {

        data.forEach(function(d) {
          d.population = +d.population;
        });

        var g = svg.selectAll(".arc")
            .data(pie(data))
          .enter().append("g")
            .attr("class", "arc");

        g.append("path")
            .attr("d", arc)
            .style("fill", function(d) { return color(d.data.occupation); });

        g.append("text")
            .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
            .attr("dy", ".35em")
            .style("text-anchor", "middle")
            .text(function(d) { return d.data.occupation; });

      });

    }

    
  } 



    d3.csv("gender.csv", function(error, data) {

      data.forEach(function(d) {
        d.population = +d.population;
      });

      var g = svg.selectAll(".arc")
          .data(pie(data))
        .enter().append("g")
          .attr("class", "arc");

      g.append("path")
          .attr("d", arc)
          .style("fill", function(d) { return color(d.data.gender); });

      g.append("text")
          .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
          .attr("dy", ".35em")
          .style("text-anchor", "middle")
          .text(function(d) { return d.data.gender; });

    });

</script>






<div class="video_tile">
  <iframe id="video" src="//player.vimeo.com/video/86328631" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
</div>