<% case @type
   when "members_stories" %>
  <div id="chart"></div>
    <script type="text/javascript">
      memberStories( <%= @stories.to_json %>);
    </script>

<% when "stories_by_state" %>
  <script >
    drawStoryTree(<%= @stories.to_json %>, <%= @index %>)
  </script>

<% end %>
