<h3>Iframe tile</h3>
<form method="post">
  Embed url: <input type="text" name="embed_url", value="<%= @tile.url %>"><br>
  Frame width:  <input type="text" name="embed_width" value="<%= @tile.width %>"><br>
  Frame height: <input type="text" name="embed_height" value="<%= @tile.height %>"><br>
  <input type="submit" value="Submit">
</form>
